<!DOCTYPE html>
<html>
    <head>
        <title>Account</title>
        <meta charset='utf-8'>
    </head>
    <body>
        <a href="/logout">Log Out</a>
        @{
            foreach (var x in ViewBag.username)
            {
                <h1><code>Welcome To Your Account @x["first_name"]</code></h1>
            }
        }
        <p>Post a message to your board!</p>
        <form action="/postmessage" method="POST">
            <textarea name="message" rows="5" cols="50" style="resize: none;"></textarea><br>
            <input type="submit" value="Post">
        </form>
        @{
            foreach (var x in ViewBag.messages)
            {
                <h4>@x["message"]</h4>
                <code>Posted by: @x["first_name"] @x["messageposted_at"]</code><br><br>
                foreach (var y in ViewBag.comments)
                {
                    if (@x["messages_id"] == @y["message_id"])
                    {
                        <p>@y["comment"]</p>
                        <code>Posted by: @y["first_name"] @y["commentposted_at"]</code>
                    }
                } 
                <p>Leave a comment!</p>
                <form action="/comment" method="POST">
                    <input type="hidden" name ="hiddenMessageId" value=@x["messages_id"]>
                    <textarea name="content" rows="5" cols="25" style="resize: none;"></textarea><br>
                    <input type="submit" value="Post">
                </form>  
                <hr>
            }
        }
    </body>
</html>